table, th, td {
  border: 1px solid black;
  text-align: center;
}

th, td {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  table {
    width: 100%;
  }

  tr[app-quote-item] {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid black;
  }

  th {
    display: none;
  }
}