span {
  display: none;
}

@media only screen and (max-width: 600px) {
  span {
    display: inline;
    font-weight: 700;
    text-align: left;
  }

  td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 10px;
  }
}